.nav_link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 9px;
  font-size: 14px;
  color: #605d66;
  font-weight: 400;
  text-transform: capitalize;
  align-items: center;
  align-content: center;
  padding-left: 18px;
}

.nav_link_active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 9px;
  background-color: #dbd0fb;
  font-size: 14px;
  color: #3f12c4;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  align-items: center;
  align-content: center;
  padding-left: 18px;
}
