@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  color: #2b292f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  width: 100%;
}

table thead {
  background: #f9f9f980;
  border-radius: 10px;
}

table thead th {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  color: #605d66;
  padding: 12px;
  text-transform: capitalize;
}

table tbody td {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #2b292f;
  padding: 20px;
  text-transform: capitalize;
}

table tbody:nth-child(odd) {
  background-color: #f9f9f980;
}
